<h1>${title}</h1>
<form name="survey-form" action="/" method="POST">
    ${surveyData.map(topic => { return `
        <p>
            <span class="language">${topic.topic_name}</span> - <span class="ranking_number">${topic.ranking_value}</span> <span class="ranking_description">(${topic.ranking_title})</span>
        </p>
        <p>Use the dropdown to update the data base for your comfort level with <strong>${topic.topic_name}</strong></p>
        <select name="${topic.topic_name}">
            ${rankingData.map(status => { return `
                <option value=${status.id}>${status.ranking_title}</option>
            `})}
        </select>
        <hr>
        <br>
        `}).join('')}
    <button type="submit">Update Rankings</button>
</form>